html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  box-sizing: border-box;
  text-decoration-skip-ink: none;
}

.header {
  padding: 4px;
  border-bottom: 1px solid deepskyblue;
}

.footer {
  padding: 4px;
  border-top: 1px solid deepskyblue;
}

.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 26px 1fr 26px;
}

.content-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
}

.header,
.footer {
  background: lightblue;
}

.dark-theme {
  background: black;
  color: white;
}

.dark-theme .header,
.dark-theme .footer {
  background: #1b002f;
  border-color: darkblue;
}

.dark-theme input,
.dark-theme button,
.dark-theme textarea,
.dark-theme select {
  background: black;
  color: white;
  border-color: grey;
}

.changed {
  border-color: darkred;
  background: lightpink;
}

input[type="checkbox"].changed {
  outline: 1px solid darkred;
}

.dark-theme .changed {
  border-color: mediumvioletred;
  background: darkred;
}

.danger {
  background: #fd97ac !important;
}

.dark-theme .danger {
  background: #55111b !important;
}

.notification {
  background: steelblue;
}

.dark-theme .notification {
  background: #0a0a46;
}

.minibutton {
  text-align: center;
  border: 1px solid black;
  background: lightgreen;
  padding: 3px;
  color: black;
  -webkit-box-shadow: 0 0 10px steelblue;
  box-shadow: 0 0 10px steelblue;
  text-decoration: none !important;
  margin: 5px;
}

.header .minibutton,
.footer .minibutton {
  padding: 1px 4px;
  background: skyblue;
}

.dark-theme .minibutton {
  border-color: green;
  background: #1b002f;
  color: white !important;
  -webkit-box-shadow: 0 0 10px #004e13;
  box-shadow: 0 0 10px #004e13;
}

.dark-theme .minibutton:hover {
  -webkit-box-shadow: 0 0 25px #004e13;
  box-shadow: 0 0 25px #004e13;
}

.minibutton:hover {
  -webkit-box-shadow: 0 0 20px steelblue;
  box-shadow: 0 0 20px steelblue;
}

.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
