.paginationWidget {
  padding: 5px;
  text-align: center;
}

.paginationWidget > .button-link {
  width: 25px;
  height: 25px;
  display: inline-block;
  border: 1px solid black;
  line-height: 25px;
  font-size: 20px;
  text-decoration: none;
  margin: 0 5px;
  vertical-align: middle;
}

.dark-theme .paginationWidget > .button-link {
  border: 1px solid white;
}

.paginationWidget > a.hidden {
  visibility: hidden;
}

.image-list > .paginationWidget:last-of-type {
  margin-bottom: 6px;
}

.button-link {
  cursor: pointer;
}
