.vimium-clickable {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin: 0;
  padding: 0;
  font-size: inherit;
}
