.menu {
  position: absolute;
}

.menu > .item {
  padding: 3px;
  border: 1px solid grey;
  text-align: left;
  background: white;
  z-index: 100;
  position: relative;
}

.menu > .item.item-highlighted {
  background: #d1f8ff;
}

.dark-theme .menu > .item.item-highlighted {
  background: #1b002f;
}

.dark-theme .menu > .item {
  border-color: #444444;
  background: black;
}
