.directional-button {
  visibility: hidden;
  display: inline-block;
  padding: 3px;
  border: 1px solid grey;
  margin: 5px;
  width: 19px;
  height: 15px;
  line-height: 7px;
  font-size: xx-small;
  background: darkcyan !important;
  user-select: none;
}

.directional-button.visible {
  visibility: unset;
}

.item-page-banner {
  background: lightskyblue;
  text-align: center;
  padding: 2px;
  font-size: xx-small;
  margin-bottom: 5px;
}

.dark-theme .item-page-banner {
  background: darkslateblue;
}
