.tag-details-editor {
  border: 1px solid black;
  border-radius: 3px;
  line-height: 1.5em;
}

.dark-theme .tag-details-editor {
  border-color: white;
}

.tag-details-editor input,
.tag-details-editor textarea,
.tag-details-editor button {
  margin-right: 5px;
  vertical-align: top;
}

/* TODO this should definitly be called something like centering or something because I use it in other places */
.tag-details {
  margin: 0 auto;
  width: 380px;
}

/* TODO maybe pull this out into a separate file */
.grid-editor {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  padding: 10px;
  text-align: left;
}

.grid-editor > dt,
.grid-editor > dd {
  margin: 0;
}

.changed {
  border-color: darkred;
  background: lightpink;
}

.dark-theme .changed {
  border-color: mediumvioletred;
  background: darkred;
}
