.thumb-album-and-tag-container {
  max-height: 90px;
  overflow: hidden;
  -webkit-box-orient: vertical; /* TODO WHY DOES THIS NOT WORK, IT SHOULD CAUSE ELIPSISES TO SHOW */
  display: -webkit-box;
  -webkit-line-clamp: 6;
  font-size: small;
}
