.item-thumb-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-rows: repeat( auto-fit, 250px); */
  grid-gap: 10px;
  margin: 10px;
}

.item-thumb-list > div {
  border: 1px solid blue;
  padding: 10px;
}

/* TODO pull this out into a proper css file */
.urlItemTagWrapper {
  display: flex;
  height: 10vw;
  max-width: 100%;
  justify-content: center;
}

.urlItemTagWrapper > a {
  max-width: 100%;
  overflow: hidden;
}

.thumb-page-header {
  text-align: center;
}
