.item-details-header {
  border: 1px solid navy;
  padding: 5px;
  min-width: 85%;
  max-width: 95%;
  display: inline-block;
}

.item-details-header h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.item-details-header p {
  margin: 7px 0;
}
