.item-viewer {
  width: 100vw;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.item-viewer-sidebar {
  border-right: 1px solid black;
  padding: 5px;
}

.dark-theme .item-viewer-sidebar {
  border-color: rebeccapurple;
}

.item-viewer-main {
  position: relative;
}

.item-viewer-main img,
.item-viewer-main video {
  /* object-fit: scale-down; */
  object-fit: contain;
  object-position: top left;
  position: absolute;
  width: 100%;
  height: 100%;
}

.fullscreen .item-viewer-sidebar {
  display: none;
}

.fullscreen .item-viewer {
  grid-template-columns: 1fr;
}

.fullscreen .item-viewer-main img,
.fullscreen .item-viewer-main video {
  object-fit: contain;
  object-position: center;
}

/* TODO pull this out into a proper css file */
.urlItemWrapper {
  display: flex;
  width: 50vw;
  height: 10vw;
  margin: 15px auto;
  justify-content: center;
}
