.item-metadata {
  display: grid;
  grid-template-columns: max-content auto;
}

.item-metadata > dt {
  grid-column-start: 1;
  font-weight: bold;
}

.item-metadata > dt:after {
  content: ":";
}

.item-metadata > dd {
  grid-column-start: 2;
  margin-left: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item-metadata > .fingerprint:before {
  content: "#";
}

.item-metadata > .fingerprint {
  font-family: monospace;
}
