.text-item-main-view {
  background: lightgoldenrodyellow;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  white-space: pre-wrap;
  line-height: 1.5em;
  border: 1px solid goldenrod;
  border-top: none;
}

.dark-theme .text-item-main-view {
  background: #402060;
  border-color: #663399;
}
