.video-tag-wrapper .image-item-thumb {
  /* max-height: 100% !important; */
}

.video-tag-wrapper {
  position: relative;
}

.play-overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-image: url("/play-overlay.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(1, 1, 1, 0.4);
}

.video-tag-wrapper > a.link-like {
  display: inline;
  height: fit-content;
  position: relative;
}
