div.scrolling-text-container {
  border: 1px solid goldenrod;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 10px;
  background: lightgoldenrodyellow;
  white-space: pre-line;
  color: black;
}

.dark-theme div.scrolling-text-container {
  background: #402060;
  border-color: #663399;
  color: white;
}

div.scrolling-text-container .scrolling-text {
  position: absolute;
  transition: top 5s ease;
  top: 5%;
}

div.scrolling-text-container:hover .scrolling-text {
  transition: top 20s linear;
  top: -500%;
}
