.search-bar {
  display: inline-block;
}

.search-bar > input {
  margin-right: 5px;
}

.search-bar > button {
  vertical-align: top;
}

.search-bar > .menu > .item {
  padding: 3px;
  border: 1px solid grey;
  text-align: left;
  background: white;
  z-index: 100;
  position: relative;
}

.search-bar > .menu > .item.item-highlighted {
  background: #d1f8ff;
}

.dark-theme .search-bar > .menu > .item.item-highlighted {
  background: #1b002f;
}

.dark-theme .search-bar > .menu > .item {
  border-color: #444444;
  background: black;
}

.header .search-bar {
  margin-top: -1px;
}
