.hamburger-container {
  display: inline-block;
  cursor: pointer;
}

.hamburger-bar1,
.hamburger-bar2,
.hamburger-bar3 {
  width: 10px;
  height: 2px;
  background-color: #333;
  margin: 2px 0;
  transition: 0.4s;
}

.hamburger-popper {
  border: 1px solid darkcyan;
  padding: 5px;
  background: lightcyan;
}

.dark-theme .hamburger-popper {
  border: 1px solid darkgreen;
  padding: 5px;
  background: #1b002f;
}
