.big-button {
  color: black;
  text-decoration: none;
  box-shadow: 2px 2px 10px steelblue;
  flex-grow: 1;
  outline: 1px solid green;
  flex-basis: 0;
  margin: 10px;
  /* line-height: calc(10vw - 20px); */
  /* padding-top: calc((10vw - 20px)/3); */
  background: lightgreen;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.big-button:hover {
  box-shadow: 5px 5px 14px steelblue;
}

.big-button:active {
  box-shadow: none;
}

.dark-theme .big-button {
  color: white;
  box-shadow: 2px 2px 10px #004e13;
  background: #1b002f;
}

.dark-theme .big-button:hover {
  box-shadow: 5px 5px 14px #008721;
}
